ideas/
ideas/Agenda.txt
ideas/Ciclos de juego.odg
ideas/diseño_dados.odg
ideas/Palabras-Claves.odt
ideas/6x6/gia-desarrollo-dadov1.odt
ideas/6x6/gia-para-jugar.odt
ideas/6x6/Misiones/Misiones.odg
ideas/6x6/Misiones/Misiones.odt
ideas/6x6/Misiones/imagenes-complementarias/icons8-reloj-de-arena-ios-16-filled.zip
ideas/6x6/Misiones/imagenes-complementarias/icons8-sin-visión-ios-16.zip
ideas/6x6/Misiones/imagenes-complementarias/icons8-visible-ios-16.zip
ideas/6x6/Misiones/imagenes-complementarias/icons8-reloj-de-arena-ios-16-filled/icons8-reloj-de-arena-50.png
ideas/6x6/Misiones/imagenes-complementarias/icons8-reloj-de-arena-ios-16-filled/icons8-reloj-de-arena-100.png
ideas/6x6/Misiones/imagenes-complementarias/icons8-sin-visión-ios-16/icons8-sin-visión-50.png
ideas/6x6/Misiones/imagenes-complementarias/icons8-sin-visión-ios-16/icons8-sin-visión-100.png
ideas/6x6/Misiones/imagenes-complementarias/icons8-visible-ios-16/icons8-visible-50.png
ideas/6x6/Misiones/imagenes-complementarias/icons8-visible-ios-16/icons8-visible-100.png
ideas/6x6/imagenes-complementarias/imagenes-gia-para-jugar.odg
ideas/cartas/cartas-imprimir.odg
ideas/cartas/cartas-imprimir.pdf
ideas/cartas/Cartas.odt
ideas/figuras/Diagrama-de-Dado.odg
ideas/figuras/figuras.odg
ideas/figuras/figuras.pdf
ideas/fotos/GitHub.png
ideas/fotos/IMG_20230321_222408_2.jpg
ideas/fotos/IMG_20230321_222408.jpg
ideas/fotos/IMG_20230321_222644.jpg
ideas/fotos/instagram.jpg
ideas/fotos/linkedin.jpg
ideas/manuales/2--Manual-Implementación.odt
ideas/manuales/2--Manual-Implementación.pdf
ideas/manuales/3--Manual-doc.odt
ideas/manuales/Manual1-Iniciando.odt
ideas/manuales/Manual1-Iniciando.pdf
ideas/manuales/Piezas.odt
ideas/manuales/Imagenes/Diagramas_Implementacion.odg
ideas/manuales/Imagenes/Ejemplo_1x1.odg
ideas/manuales/muestras/Manual-para-Desarrolladores.odt
ideas/manuales/muestras/Manual-para-Desarrolladores.pdf
ideas/modos-de-juegos/Modo-Juego-1.odt
ideas/tableros/aprendiendo_a_caminar-Tablero-Piezas.odg
ideas/tableros/aprendiendo_a_caminar-Tablero-Piezas.pdf
ideas/tableros/tablero-aprendiendo-a-caminar.odt
ideas/tableros/tablero-aprendiendo-a-caminar.pdf
